.social-icons ul li a i {
	padding: 8px 10px;
}

.shop-menu.pull-right {
	float: none !important;
}
.gap-y-grid {
	row-gap: 0.5rem;
}

.shop-menu .nav.navbar-nav {
	margin-left: -30px;
}

.normal-width-input {
	width: 100%;
}

.range-price-input {
	width: 5rem;
}

.mainmenu {
	width: 100%;
}

.mainmenu ul li {
	background: rgba(0, 0, 0, 0.5);
	padding-top: 15px;
	padding-bottom: 0;
}

.mainmenu ul li:last-child {
	padding-bottom: 15px;
}

.mainmenu ul li a {
	color: #fff;
}

.navbar-collapse.in {
	overflow: inherit;
}

.mainmenu ul li a.active {
	padding-left: 15px;
}

.dropdown .fa-angle-down {
	display: none;
}

ul.sub-menu {
	position: relative;
	width: auto;
	display: block;
	background: transparent;
	box-shadow: none;
	top: 0;
}

.sub-menu li {
	background: transparent;
}

.mainmenu .navbar-nav li ul.sub-menu li {
	background: transparent;
	padding-bottom: 0;
}

.nav.navbar-nav>li:hover>ul.sub-menu {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
	box-shadow: none;
}

#slider-carousel .item {
	padding-left: 0;
}

.shipping {
	margin-bottom: 25px;
}

.pricing {
	width: 100px;
}

.footer-top .col-sm-7 .col-sm-3 {
	width: 50%;
	float: left;
}

.footer-widget .col-sm-2 {
	width: 28%;
	display: flex;
	margin-bottom: 50px;
	margin-top: 0;
	float: left;
	margin-left: 30px;
}

.companyinfo {
	text-align: center;
}

.footer-widget .col-sm-3 {
	display: inline-block;
}

.single-widget {}

.product-information span {
	display: block;
}

#similar-product {
	margin-bottom: 40px;
}

.well {
	display: inline-block;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1432px;
	padding-left: 16px;
	padding-right: 16px;
}
.add-to-card-icon {
	height: 35px;
}

@media (min-width: 768px) {
	.container {
		padding-left: 32px;
		padding-right: 32px;
	}
	.normal-width-input {
		width: 768px;
	}
	.add-to-card-icon {
		height: 39px;
	}

	.gap-y-grid {
		row-gap: 1rem;
	}

	.range-price-input {
		width: 5rem;
	}
	
	.banner-image {
		height: 400px;
	}

	.shop-menu ul li a {
		padding-left: 0;
	}

	#slider-carousel .item {
		padding-left: 30px;
	}

	.item h2 {
		font-size: 24px;
	}

	.girl {
		margin-left: 0;
	}

	.pricing {
		width: 100px;
	}


	.shipping img {
		width: 100%;
	}

	.slider.slider-horizontal {
		width: 100% !important;
	}

	.tab-pane .col-sm-3,
	.features_items .col-sm-4 {
		width: 50%;
	}

	.footer-widget .col-sm-2 {
		width: 33%;
		display: inline-block;
		margin-bottom: 50px;
	}

	.footer-widget .col-sm-3 {
		display: inline-block;
		width: 40%;
	}

	#similar-product .carousel-inner .item img {
		width: 60px;
		margin-left: 0;
	}

	.product-information span span {
		display: block;
		width: 100%;
	}

	.product-information .cart {
		margin-left: 0;
		margin-top: 15px;
	}

	.item-control i {
		font-size: 12px;
		padding: 5px 6px;
	}

	#cart_items .cart_info .cart_description h4,
	#cart_items .cart_info .cart_description p {
		text-align: center;
	}

	.companyinfo h2 {
		font-size: 20px;
	}

	.address {
		margin-top: 48px;
		margin-left: 20px;
	}

	.address p {
		font-size: 12px;
		top: 5px;
	}

}

@media (min-width: 1200px) {
	.banner-image {
		height: 400px;
	}
	.gap-y-grid {
		row-gap: 2rem;
	}
	.range-price-input {
		width: 10rem;
	}
}
